@import "tailwindcss";

@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    font-size: calc(min(100vw,1400px) / 87.5);
    --primary: #3f8cff;
    --bg-default: #f4f9fd
}

@theme inline {
    --color-primary: var(--primary);
    --color-bg_default: var(--bg-default);
    --text-10: 0.63rem
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/*body {*/
/*  background: var(--background);*/
/*  color: var(--foreground);*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/
